{%- for block in blocks -%}
  {%- assign block_menu_item = block.settings.menu-item | handleize -%}
  {%- if block_menu_item == menu_item -%}
    {%- assign transition_id = location | append: '_' | append: block_menu_item -%}

    {%- if block.type == 'image' -%}
      {%- liquid
        assign aspect_ratio = 100.0 | divided_by: block.settings.aspect-ratio
        assign description = block.settings.description
        assign display_type = block.settings.image-display-type
        assign mobile_aspect_ratio = 100.0 | divided_by: block.settings.mobile-aspect-ratio
        assign mobile_display_type = block.settings.mobile-image-display-type
        assign link_url = block.settings.link-url
      -%}

      <div
        class="menu-block--image-wrapper"
        {% unless settings.transitions--other %}
          data-transition-item="{{ transition_id }}"
        {% endunless %}
        {{ block.shopify_attributes }}
      >
        {%- unless link_url == blank -%}
          <a href="{{ link_url }}">
        {%- endunless -%}

        <div
          class="menu-block--image"
          {% unless settings.transitions--image %}
            data-transition-item
            data-transition-type="zoom-in"
            data-transition-trigger="hover"
          {% endunless %}
        >
          {%- if block.settings.image == blank -%}
            {%-
              render 'placeholder',
              type: 'collection',
              placeholder_index: 1,
              display_type: display_type,
              aspect_ratio: aspect_ratio,
              mobile_display_type: mobile_display_type,
              mobile_aspect_ratio: mobile_aspect_ratio
            -%}
          {%- else -%}
            {%-
              render 'image',
              image: block.settings.image,
              aspect_ratio: aspect_ratio,
              display_type: display_type,
              loading: 'lazy',
              mobile_aspect_ratio: mobile_aspect_ratio,
              mobile_display_type: mobile_display_type,
              mobile_image: block.settings.mobile-image
            -%}
          {%- endif -%}
        </div>

        {%- unless description == blank -%}
          <div class="menu-block--description" data-item="sub-nav-text">
            {{ description }}
          </div>
        {%- endunless -%}

        {%- unless link_url == blank -%}
          </a>
        {%- endunless -%}
      </div>
    {%- elsif block.type == 'blog' -%}
      {%- liquid
        assign blog = blogs[block.settings.blog]
        assign image_size = block.settings.image-size
        assign selected_tag = block.settings.tag-select | downcase | escape
        assign show_cta = block.settings.show-cta
        assign show_date = block.settings.show-date
        assign show_excerpt = block.settings.show-excerpt

        assign grid_direction = 'horizontal'
        if location == 'y-menu'
          assign grid_direction = 'vertical'
        endif
      -%}

      <div
        class="menu-block--blog"
        data-aspect-ratio="{{ image_size }}"
        {{ block.shopify_attributes }}
      >
        {%-
          render 'blog-grid',
          section: block,
          alignment: 'center',
          blog: blog,
          grid_direction: grid_direction,
          mobile_media_layout: 'grid',
          loading: 'lazy',
          selected_tag: selected_tag,
          show_cta: show_cta,
          show_date: show_date,
          show_excerpt: show_excerpt,
          transition_id: transition_id
        -%}
      </div>

    {%- elsif block.type == 'full-width-promo' -%}
      {%- liquid
        assign aspect_ratio = 100.0 | divided_by: block.settings.aspect-ratio
        assign display_type = block.settings.image-display-type
        assign mobile_display_type = block.settings.mobile-image-display-type
        assign mobile_aspect_ratio = 100.0 | divided_by: block.settings.mobile-aspect-ratio
      -%}

      <div class="menu-block--featured" {{ block.shopify_attributes }}>
        {%-
          render 'featured-content',
          button_style: block.settings.button-style,
          description: block.settings.description,
          heading_type: block.settings.heading-type,
          highlight_color: block.settings.highlight-color,
          highlight_text: block.settings.highlight-text,
          highlight_type: block.settings.highlight-type,
          id: transition_id,
          image: block.settings.image,
          image_display_type: display_type,
          image_aspect_ratio: aspect_ratio,
          link_text: block.settings.link-text,
          link_url: block.settings.link-url,
          loading: 'lazy',
          mobile_button_style: block.settings.mobile-button-style,
          mobile_hide_description: block.settings.mobile-hide-description,
          mobile_image: block.settings.mobile-image,
          mobile_image_display_type: mobile_display_type,
          mobile_image_aspect_ratio: mobile_aspect_ratio,
          mobile_text_x_alignment: block.settings.mobile-text-horizontal-alignment,
          mobile_text_y_alignment: block.settings.mobile-text-vertical-alignment,
          mobile_overlay: block.settings.mobile-overlay,
          overlap: block.settings.overlap,
          overlay_style: block.settings.overlay-style,
          overline: block.settings.overline,
          parallax_enabled: false,
          sizes: '100vw',
          text_style: block.settings.text-style,
          text_bg_color: block.settings.text-background-color,
          text_position: block.settings.text-position,
          text_width: block.settings.text-width,
          title: block.settings.title,
          text_x_alignment: block.settings.text-horizontal-alignment,
          text_y_alignment: block.settings.text-vertical-alignment,
          white_text: block.settings.white-text
        -%}
      </div>

    {%- elsif block.type == 'product-list' -%}
      {%- liquid
        assign product_list = block.settings.product-list
        assign columns = 4
        unless product_list == blank
          assign columns = product_list.count
        endunless

        capture sizes
          render 'utils', name: 'sizes', container_width: '5', columns: columns, mobile_columns: 1
        endcapture
      -%}

      <div
        class="menu-block--products"
        data-container="panel"
        data-columns="{{ columns }}"
        data-mobile-columns="1"
        style="--columns:{{ columns }};"
        {% unless settings.transitions--other %}
          data-transition-container="{{ transition_id }}"
          data-transition-type="fade-in"
          {% unless location == 'y-menu' %}
            data-transition-cascade="horizontal"
            data-transition-cascade-interval="200"
          {% endunless %}
        {% endunless %}
        {{ block.shopify_attributes }}
      >
        {%- liquid
          if product_list == blank
            for i in (1..4)
              render 'product-card', onboarding: true, placeholder_index: i, transition_id: transition_id
            endfor
          else
            for product in product_list
              render 'product-card', product_item: product, transition_id: transition_id, sizes: sizes, loading: 'lazy'
            endfor
          endif
        -%}
      </div>

    {%- endif -%}
  {%- endif -%}
{%- endfor -%}