{% comment %} Aspect ratio needs at least one decimal {% endcomment %}
{%- liquid
  assign aspect_ratio = aspect_ratio | default: 1.45
  assign color = color | default: 'default'
  assign display_type = display_type | default: 'aspect-ratio'
  assign mobile_aspect_ratio = mobile_aspect_ratio | default: aspect_ratio | round: 2
  assign mobile_overlay_style = mobile_overlay_style | default: overlay_style
  assign mobile_display_type = mobile_display_type | default: display_type
  assign placeholder = type

  if placeholder_index
    capture placeholder
      echo type | append: '-' | append: placeholder_index
    endcapture
  endif
-%}

{%- if parallax -%}
  <scroll-progress class="placeholder--scroll-progress">
{%- endif -%}

<placeholder-element
  class="placeholder--root{% if class %} {{ class }}{% endif %}"
  data-background="{{ background }}"
  data-color="{{ color }}"
  data-type="{{ type }}"
  data-display-type="{{ display_type }}"
  data-full-width="{{ full_width }}"
  data-mobile-display-type="{{ mobile_display_type }}"
  data-mobile-full-width="{{ mobile_full_width }}"
  data-mobile-overlay-style="{{ mobile_overlay_style }}"
  data-overlay-style="{{ overlay_style }}"
  data-parallax="{{ parallax }}"
  data-transition-item="placeholder"
  data-transition-type="stroke"
  style="--aspect-ratio:{{ aspect_ratio }};--mobile-aspect-ratio:{{ mobile_aspect_ratio }};"
>
  <div class="placeholder--container">
    {{- placeholder | placeholder_svg_tag -}}
  </div>
</placeholder-element>

{%- if parallax -%}
  </scroll-progress>
{%- endif -%}