{%- liquid
  assign form_id = product_id | append: '--unavailable'
  assign sold_out_button_t = 'products.sold_out.button' | t
  assign sold_out_email_t = 'products.sold_out.email_description' | t
  assign sold_out_email_ph_t = 'products.sold_out.email_placeholder' | t
  assign unavailable_t = 'products.unavailable_notice' | t

  assign current_variant = product.selected_or_first_available_variant
-%}

{%- case view -%}
  {%- when 'input' -%}
    <product-unavailable-element
      class="product-unavailable--root"
      {% if current_variant.available %}
        aria-hidden="true"
      {% else %}
        aria-hidden="false"
      {% endif %}
      aria-busy="false"
      data-form-id="{{ form_id }}"
      data-product-id="{{ product_id }}"
    >
      <label for="{{ form_id }}-email" data-item="small-text">
        {{- unavailable_t -}}
      </label>
      <div class="product-unavailable--form">
        <input
          class="product-unavailable--input"
          type="email"
          name="contact[email]"
          autocomplete="email"
          placeholder="{{ sold_out_email_ph_t }}"
          value="{{ customer.email }}"
          id="{{ form_id }}-email"
        >
        <button
          class="product-unavailable--submit"
          type="submit"
          form="{{ form_id }}"
          data-item="button-1"
          data-text="{{- sold_out_button_t -}}"
        >
          <span class="product-unavailable--text-wrapper">
            <span class="product-unavailable--text">
              {{- sold_out_button_t -}}
            </span>
            <span class="product-unavailable--loading">
              {%- render 'icons', icon: 'spinner' -%}
            </span>
          </span>
        </button>
      </div>
    </product-unavailable-element>

  {%- when 'form' -%}
    {%- form 'contact', id: form_id, class: 'product-unavailable-form--root', style: 'display:none;' -%}
      <input
        class="product-unavailable-form--input"
        type="hidden"
        name="contact[email]"
        value="{{ customer.email }}"
      >
      <input
        class="product-unavailable-form--value"
        type="hidden"
        name="contact[message]"
        value="{{ sold_out_email_t }}: {{ product.title | escape }} - {{ current_variant.title | escape }}"
      >

      {%- if form.posted_successfully? -%}
        <script>window.location.hash = '#feedback-bar--product-form';</script>
      {%- endif -%}
    {%- endform -%}
{%- endcase -%}