{%- liquid
  assign current_variant = product.selected_or_first_available_variant

  assign add_to_cart_t = 'products.add_to_cart' | t
  assign change_t = 'products.change' | t
  assign buy_it_now_t = 'products.buy_it_now' | t
  assign button_text = 'products.out_of_stock' | t
  if current_variant.available
    assign button_text = 'products.add_to_cart' | t
  endif

  unless onboarding
    if product.selling_plan_groups != empty or product.available == false
      assign smart_payment_enabled = false
    endif
  endunless
%}

{%- unless request.page_type == "password" -%}
  {%- if onboarding -%}
    <div class="product-buy-buttons--root" data-container="block">
      <div
        class="product-buy-buttons--primary"
        {% if smart_payment_enabled %}
          data-item="{{ secondary_button_style }}"
        {% else %}
          data-item="{{ primary_button_style }}"
        {% endif %}
        data-text="{{ add_to_cart_t }}"
      >
        <span>{{ add_to_cart_t }}</span>
      </div>

      {%- if smart_payment_enabled -%}
        <div
          class="product-buy-buttons--buy-now"
          data-item="{{ primary_button_style }}"
          data-text="{{ buy_it_now_t }}"
        >
          <span>{{ buy_it_now_t }}</span>
        </div>
      {%- endif -%}
    </div>

  {%- else -%}
    <product-buy-buttons-element
      class="product-buy-buttons--root"
      data-id="{{ id }}"
      data-cart-type="{{ settings.cart--type }}"
      data-translations="{{ translations | escape }}"
      data-container="block"
    >
      {{- form | payment_terms -}}

      <button
        class="product-buy-buttons--primary"
        type="submit"
        aria-busy="false"
        data-text="{{ button_text }}"
        {% if smart_payment_enabled %}
          data-item="{{ secondary_button_style }}"
        {% else %}
          data-item="{{ primary_button_style }}"
        {% endif %}
        {%- unless current_variant.available -%}
          disabled
        {%- endunless -%}
      >
        <span class="product-buy-buttons--cta-text">
          {{- button_text -}}
        </span>
        <span class="product-buy-buttons--spinner">
          {%- render 'icons', icon: 'spinner' -%}
        </span>
      </button>

      {%- if smart_payment_enabled -%}
        {%- assign smart_payment_button = form | payment_button -%}
        {%- unless smart_payment_button == blank -%}
          <div
            class="product-buy-buttons--smart"
            data-style="{{ primary_button_style }}"
            {% if current_variant.available and request.design_mode == false %}
              aria-hidden="false"
            {% else %}
              aria-hidden="true"
            {% endif %}
          >
            {{- smart_payment_button -}}
          </div>
        {%- else -%}
          <button
            class="product-buy-buttons--buy-now"
            data-item="{{ primary_button_style }}"
            data-text="{{ buy_it_now_t }}"
            type="button"
            aria-busy="false"
            {% if request.design_mode or current_variant.available == false %}
              disabled
            {% endif %}
          >
            <span class="product-buy-buttons--buy-now-text">
              {{- buy_it_now_t -}}
            </span>
            <span class="product-buy-buttons--spinner">
              {%- render 'icons', icon: 'spinner' -%}
            </span>
          </button>
        {%- endunless -%}
      {%- endif -%}

      {%- if sticky_cart_enabled -%}
        <div
          class="product-buy-buttons--drawer"
          data-background-color="none"
          data-translucent="true"
          data-mq="small"
          aria-hidden="true"
          tabindex="-1"
        >
          <div class="product-buy-buttons--drawer-info-container">
            <div class="product-buy-buttons--drawer-info">
              <div data-item="paragraph">
                {{- product.title -}}
              </div>

              {%- unless product.has_only_default_variant -%}
                <div class="product-buy-buttons--drawer-variant" data-item="nav-text">
                  {{- current_variant.title -}}
                </div>
              {%- endunless -%}
            </div>

            {%- unless product.has_only_default_variant -%}
              <button
                class="product-buy-buttons--drawer-change"
                type="button"
                data-item="block-link"
              >
                <span>{{- change_t -}}</span>
              </button>
            {%- endunless -%}
          </div>

          <button
            class="product-buy-buttons--primary"
            type="submit"
            aria-busy="false"
            data-text="{{ button_text }}"
            data-item="{{ primary_button_style }}"
            {%- unless current_variant.available -%}
              disabled
            {%- endunless -%}
          >
            <span class="product-buy-buttons--cta-text">
              {{- button_text -}}
            </span>
            <span class="product-buy-buttons--spinner">
              {%- render 'icons', icon: 'spinner' -%}
            </span>
          </button>
        </div>
      {%- endif %}

      <input
        type="hidden"
        class="product-buy-buttons--input"
        name="id"
        data-id="{{ current_variant.id }}"
        data-sku="{{ current_variant.sku }}"
        data-management="{{ current_variant.inventory_management }}"
        data-policy="{{ current_variant.inventory_policy }}"
        data-quantity="{{ current_variant.inventory_quantity | default: 0 }}"
        value="{{ current_variant.id }}"
      >

      <script type="application/json">
        {
          "add_to_cart": "{{ "products.add_to_cart" | t }}",
          "out_of_stock": "{{ "products.out_of_stock" | t }}",
          "unavailable": "{{ "products.unavailable" | t }}"
        }
      </script>
    </product-buy-buttons-element>
  {%- endif -%}
{%- endunless -%}