{%- liquid
  assign products_view_ar_t = 'products.view_ar' | t
  assign image_modal_t = 'products.image_modal' | t

  assign media_size = media_size | default: ''
  assign video_looping_enabled = video_looping_enabled | default: false
  assign zoom_enabled = zoom_enabled | default: false

  assign aspect_ratio = product_media.aspect_ratio | round: 3
  if product_media.media_type == 'model'
    assign aspect_ratio = product_media.preview_image.aspect_ratio | round: 3
  endif
-%}

<div
  class="product-media--root"
  data-id="{{ product_media.id }}"
  data-active="{{ media_active }}"
  data-media-type="{{ product_media.media_type }}"
  style="--product-media--aspect-ratio:{{ aspect_ratio }};"
>
  {%- case product_media.media_type -%}
    {%- when "image" -%}
      {%- capture image -%}
        {%- if zoom_enabled -%}
          <product-zoom-element
            class="product-zoom--root"
            data-id="{{ product_media.id }}"
            data-magnify="1.7"
          >
            {{-
              product_media |
              image_url: width: product_media.width |
              image_tag:
                class: 'product-zoom--wrapper',
                widths: '300, 400, 500, 600, 700, 800, 900, 1000, 1200, 1500, 1800, 2100, 2400, 3000',
                sizes: sizes,
                loading: loading,
                fetchpriority: fetchpriority
            -}}
            {{-
              product_media |
              image_url: width: product_media.width |
              image_tag:
                class: 'product-zoom--enlarged',
                widths: '300, 400, 500, 600, 700, 800, 900, 1000, 1200, 1500, 1800, 2100, 2400, 3000',
                sizes: sizes,
                loading: 'lazy',
                aria-hidden: 'true'
            -}}
          </product-zoom-element>

        {%- else -%}
          {{-
            product_media |
            image_url: width: product_media.width |
            image_tag:
              widths: '300, 400, 500, 600, 700, 800, 900, 1000, 1200, 1500, 1800, 2100, 2400, 3000',
              sizes: sizes,
              loading: loading,
              fetchpriority: fetchpriority
          -}}

        {%- endif -%}
      {%- endcapture -%}

      {%- if modal_enabled -%}
        <modal-trigger
          class="product-media--modal"
          data-id="{{ product_id }}_main-product"
          data-index="{{ modal_index }}"
          aria-label="{{ image_modal_t }}"
          tabindex="0"
        >
          {{- image -}}
        </modal-trigger>
      {%- else -%}
        {{- image -}}
      {%- endif -%}

    {%- when "video" -%}
      <product-video-element
        class="product-video--root"
        tabindex="0"
        data-loop-enabled="{{ video_looping_enabled }}"
        data-api="plyr"
        {% unless media_size == blank %}
          data-view="{{ media_size }}"
        {% endunless %}
      >
        <div class="product-video--container">
          {{- product_media | video_tag: image_size: "1024x" -}}
        </div>
      </product-video-element>

    {%- when "external_video" -%}
      <product-video-element
        class="product-video--root"
        tabindex="0"
        data-api="{{ product_media.host }}"
        data-loop-enabled="{{ video_looping_enabled }}"
        data-video-id="{{ product_media.external_id }}"
        {% unless media_size == blank %}
          data-view="{{ media_size }}"
        {% endunless %}
      >
        <div class="product-video--container">
          <div
            class="product-video"
            id="{{ media_size }}{% if media_size != blank %}-{% endif %}{{ product_media.id }}"
          ></div>
        </div>
      </product-video-element>

    {%- when "model" -%}
      <product-model-element
        class="product-model--root"
        tabindex="0"
        {% if media_size != blank %}
          data-view="{{ media_size }}"
        {% endif %}
      >
        {{-
          product_media | model_viewer_tag: reveal: 'interaction',
          toggleable: true,
          image_size: "1024x"
        -}}
      </product-model-element>

      <a
        class="product-model--button"
        role="button"
        data-item="button-1"
        aria-label="{{ products_view_ar_t }}"
        tabindex="0"
      >
        <div
          data-shopify-xr
          data-shopify-model3d-id="{{ product_media.id }}"
          data-shopify-title="{{ product.title }}"
        >
          {%- render 'icons', icon: '3d-badge' -%}
          {{- products_view_ar_t -}}
        </div>
      </a>

    {%- else -%}
      {{- product_media | media_tag -}}

  {%- endcase -%}
</div>