<div class="product-share--root">
  <h2 data-item="section-heading">
    {{ 'products.share_this' | t }}
  </h2>

  {% capture shareurl %}{{ shop.url }}{{ product.url }}{% endcapture %}

  {% if share_twitter %}
    <a
      class="product-share--twitter"
      data-item="accent-text"
      href="https://twitter.com/intent/tweet?text=Check%20out%20this%20{% if request.page_type == 'article' or request.page_type == 'blog' %}blog%20post{% elsif request.page_type == 'product' %}product{% endif %}:+{{ shareurl }}"
      rel="noreferrer"
    >
      {% render 'framework--icons', icon: 'twitter' %}
      <span>Tweet</span>
    </a>
  {% endif %}

  {% if share_facebook %}
    <a
      class="product-share--facebook"
      data-item="accent-text"
      href="https://www.facebook.com/sharer.php?u={{ shareurl }}&t={{ product.title }}"
      rel="noreferrer"
    >
      {% render 'framework--icons', icon: 'facebook' %}
      <span>Like</span>
    </a>
  {% endif %}

  {% if share_pinterest %}
    <a
      class="product-share--pinterest"
      data-item="accent-text"
      href="https://pinterest.com/pin/create/button/?url={{ shareurl }}&media={{ product.featured_media.preview_image | img_url: '2000x' }}&description={{ product.title | strip_html | escape | replace: ' ', '%20' }}"
      count-layout="none"
      rel="noreferrer"
    >
      {% render 'framework--icons', icon: 'pinterest' %}
      <span>Pin</span>
    </a>
  {% endif %}
</div>