<!doctype html>
<html lang="{{ request.locale.iso_code }}" dir="ltr">
  <head>
    <!-- Blockshop theme - Version 12.2.1 by Troop Themes - https://troopthemes.com/ -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32 }}" type="image/png">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- endif -%}

    <title>{{ shop.name }}</title>

    {%- liquid
      render 'preload'
      render 'meta-tags'
      render 'css-typography'
      render 'css-variables'
      render 'custom-styles'
    -%}

    {{- 'theme.css' | asset_url | stylesheet_tag -}}
    {{ content_for_header }}
    {%- render 'routes' -%}

    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>

    {%- if request.page_type contains 'customers' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    {%- if request.design_mode -%}
      <script type="module" src="{{ 'editor-events.min.js' | asset_url }}" defer></script>
    {%- endif -%}
  </head>

  <body
    class="template--password"
    data-theme-id="606"
    data-theme-name="Blockshop"
    data-theme-version="12.2.1"
    data-theme-preset="{{ settings.preset }}"
    data-transition-container="viewport"
  >
    <!--[if IE]>
      <div style="text-align:center;padding:72px 16px;">
        {{ 'general.browser_unsupported' | t }}
      </div>
      <style>
        .layout--template { display: none; }
      </style>
    <![endif]-->

    <a data-item="a11y-button" href='#main_content' id="a11y_skip">
      {{- 'general.a11y.skip_main' | t -}}
    </a>

    <div
      class="layout--viewport"
      data-button-transitions="{% if settings.transitions--buttons %}false{% else %}true{% endif %}"
      data-drawer-status="closed"
      data-drop-shadows="{{ settings.drop-shadows-enabled }}"
    >
      <main class="layout--template" id="main_content">
        {{ content_for_layout }}
      </main>

      {%- liquid
        render 'layout--navigation'
        render 'feedback-bar'
        render 'icons', icon: 'defs'
      -%}
    </div>
  </body>
</html>