{%- liquid
  assign approve_button_style = section.settings.approve-button-style
  assign approve_text = section.settings.approve-text
  assign bg_color = section.settings.background-color
  assign decline_button_style = section.settings.decline-button-style
  assign decline_text = section.settings.decline-text
  assign declined_heading = section.settings.declined-heading
  assign description = section.settings.description
  assign declined_description = section.settings.declined-description
  assign heading = section.settings.heading
  assign return_text = section.settings.return-text
  assign translucent = section.settings.translucent
  assign white_text = section.settings.white-text
-%}

<modal-element
  class="modal--root"
  data-id="age-verification"
  data-section-id="{{ section.id }}"
  data-background-color="{{ bg_color }}"
  data-blocking="age_verification"
  data-focus-id="{{ section.id }}-accept_button"
  data-translucent="{{ translucent }}"
  {% if white_text %}
    data-text-color="white"
  {% endif %}
  data-transition-item="viewport"
  data-transition-type="fade-in"
  data-transition-trigger="custom"
  aria-hidden="true"
>
  <div
    class="modal--view"
    data-transition-item="viewport"
    data-transition-type="scale-out"
    data-transition-trigger="custom"
  >
    {%- unless heading == blank -%}
      <div class="age-verification--heading" data-item="section-heading">
        {{- heading -}}
      </div>
    {%- endunless -%}

    {%- unless description == blank -%}
      <div class="age-verification--description" data-item="rte-content">
        {{- description -}}
      </div>
    {%- endunless -%}

    <div class="modal--button-container">
      <button
        data-modal-button="next"
        data-item="{{ decline_button_style }}"
        data-text="{{ decline_text }}"
      >
        <span>{{- decline_text -}}</span>
      </button>
      <button
        id="{{ section.id }}-accept_button"
        data-item="{{ approve_button_style }}"
        data-text="{{ approve_text }}"
        data-modal-close
      >
        <span>{{- approve_text -}}</span>
      </button>
    </div>
  </div>

  <div
    class="modal--view"
    data-transition-item="viewport"
    data-transition-type="scale-in"
    data-transition-trigger="custom"
  >
    {%- unless declined_heading == blank -%}
      <div class="modal--heading" data-item="section-heading">
        {{- declined_heading -}}
      </div>
    {%- endunless -%}

    {%- unless declined_description == blank -%}
      <div class="modal--description" data-item="rte-content">
        {{- declined_description -}}
      </div>
    {%- endunless -%}

    <div class="modal--button-container">
      <button
        data-modal-button="previous"
        data-item="{{ approve_button_style }}"
        data-text="{{ return_text }}"
      >
        <span>{{- return_text -}}</span>
      </button>
    </div>
  </div>
</modal-element>

{% schema %}
{
  "name": "Age verification",
  "class": "section--age-verification",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Style and layout"
    },
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Light",
          "value": "light"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Accent 1",
          "value": "accent-1"
        },
        {
          "label": "Accent 2",
          "value": "accent-2"
        },
        {
          "label": "Accent 3",
          "value": "accent-3"
        }
      ],
      "default": "dark"
    },
    {
      "id": "translucent",
      "label": "Translucent background",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "white-text",
      "label": "Use white text color",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Confirm your age"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Are you 18 years old or older?</p>"
    },
    {
      "id": "decline-button-style",
      "label": "Decline button style",
      "type": "select",
      "options": [
        { "label": "Style 1", "value": "button-1" },
        { "label": "Style 2", "value": "button-2" },
        { "label": "Style 3", "value": "button-3" },
        { "label": "Style 4", "value": "button-4" },
        { "label": "Link", "value": "block-link" }
      ],
      "default": "button-2"
    },
    {
      "type": "text",
      "id": "decline-text",
      "label": "Decline button text",
      "default": "No I'm not"
    },
    {
      "id": "approve-button-style",
      "label": "Approve button style",
      "type": "select",
      "options": [
        { "label": "Style 1", "value": "button-1" },
        { "label": "Style 2", "value": "button-2" },
        { "label": "Style 3", "value": "button-3" },
        { "label": "Style 4", "value": "button-4" },
        { "label": "Link", "value": "block-link" }
      ],
      "default": "button-4"
    },
    {
      "type": "text",
      "id": "approve-text",
      "label": "Approve button text",
      "default": "Yes I am"
    },
    {
      "type": "paragraph",
      "content": "This content will display if the user does not meet the age verification requirements."
    },
    {
      "type": "text",
      "id": "declined-heading",
      "label": "Heading",
      "default": "Come back when you're older"
    },
    {
      "type": "richtext",
      "id": "declined-description",
      "label": "Description",
      "default": "<p>Sorry, the content of this store can't be seen by a younger audience. Come back when you're older.</p>"
    },
    {
      "type": "text",
      "id": "return-text",
      "label": "Return button text",
      "default": "Oops, I entered incorrectly"
    }
  ],
  "presets": [
    {
      "name": "Age verification"
    }
  ],
  "enabled_on": {
    "groups": ["aside"]
  }
}
{% endschema %}