{% capture general_settings %}
  {{ settings.color--alternative }}
  {{ settings.color--accent }}
{% endcapture %}

{% assign show_on_page = true %}
{% if section.settings.home-page-only and template != 'index' or template == 'password' %}
  {% assign show_on_page = false %}
{% endif %}

<div
  class="announcement--root"
  style="{% render 'framework--background-colors', bg_color: section.settings.background-color %}"
  data-section-id="{{ section.id }}"
  data-section-type="announcement"
  data-js-class="IndexAnnouncement"
  data-alternative-color="{{ section.settings.alternative-color }}"
>
  {% if section.settings.enabled and show_on_page %}

    {% if section.settings.link != blank %}
      <a class="announcement--link" href="{{ section.settings.link }}">
    {% endif %}

    <div class="announcement--wrapper">
      {% if section.settings.icon %}
        <div class="announcement--icon">
          {{ section.settings.icon | img_url: '50x50' | img_tag: section.settings.icon.alt }}
        </div>
      {% endif %}

      {% if section.settings.text != blank %}
        <div class="announcement--text" data-item="accent-text">
          {{ section.settings.text | escape }}
        </div>
      {% endif %}
    </div>

    {% if section.settings.link != blank %}
      </a>
    {% endif %}

  {% endif %}
</div>

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "home-page-only",
      "label": "Home page only",
      "default": true
    },
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        { "label": "None", "value": "none" },
        { "label": "Light grey", "value": "light" },
        { "label": "Dark", "value": "dark" },
        { "label": "Accent", "value": "accent" }
      ],
      "default": "dark"
    },
    {
      "id": "alternative-color",
      "label": "Use light text color",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon image",
      "info": "50 x 50px recommended"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Annoucement for sales, promos, shipping info & more — Click and Collect available"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ]
}
{% endschema %}