{%- liquid
  assign continue_reading_t = 'blog.article.continue_reading' | t

  assign heading_alignment = section.settings.heading-alignment

  comment
    "gets a recent article that is not the next, previous, or current article"
  endcomment

  assign other_article = ''
  for a in blog.articles
    if a.id == blog.previous_article.id
      continue
    elsif a.id == blog.next_article.id
      continue
    elsif a.id == article.id
      continue
    else
      assign other_article = a
      break
    endif
  endfor

  assign columns = 3
  unless blog.next_article and blog.previous_article and other_article != blank
    assign columns = 2
  endunless

  capture sizes
    render 'utils', name: 'sizes', container_width: '2', columns: columns, mobile_columns: 1
  endcapture
-%}

<div
  class="article--recents-root"
  data-section-id="{{ section.id }}"
  data-aspect-ratio="{{ settings.image--article-size }}"
  data-background-color="none"
  data-container-width="2"
  data-spacing-above="none"
  data-spacing-below="large"
>
  <div class="article--recents-wrapper" data-container="section">
    <div
      class="article--recents-header"
      data-container="block"
      data-text-alignment="{{ heading_alignment }}"
      {% unless settings.transitions--text %}
        data-transition-item="viewport"
        data-transition-type="slide-in"
      {% endunless %}
    >
      <h2 class="article--recents-title" data-item='section-heading'>
        {{- continue_reading_t -}}
      </h2>
    </div>

    <div
      class="article--recents-grid"
      data-container="panel"
      data-columns="{{ columns }}"
      data-mobile-columns="1"
    >
      {%- liquid
        if blog.previous_article
          render 'article-card', featured_article: blog.previous_article, show_author: false, show_cta: false, show_date: false, show_excerpt: false, type: 'full_article', sizes: sizes
        endif

        unless other_article == blank
          render 'article-card', featured_article: other_article, show_author: false, show_cta: false, show_date: false, show_excerpt: false, type: 'full_article', sizes: sizes
        endunless

        if blog.next_article
          render 'article-card', featured_article: blog.next_article, show_author: false, show_cta: false, show_date: false, show_excerpt: false, type: 'full_article', sizes: sizes
        endif
      -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Recent articles",
  "class": "section--recent-articles",
  "settings": [
    {
      "id": "heading-alignment",
      "label": "Heading alignment",
      "type": "text_alignment",
      "default": "center"
    }
  ]
}
{% endschema %}