{%- liquid
  assign all_t = 'blog.all' | t
  assign placeholder_title_t = 'blog.placeholder_title' | t
  assign placeholder_timesince_t = 'blog.placeholder_timesince' | t
  assign placeholder_excerpt_t = 'blog.placeholder_excerpt' | t
  assign no_articles_t = 'blog.no_articles' | t
  assign filter_t = 'blog.filter' | t
  assign rss_t = 'blog.rss' | t
  assign continue_reading_t = 'blog.article.continue_reading' | t
  assign featured_t = 'blog.article.featured' | t
  assign written_by_t = 'blog.article.written_by' | t

  assign aspect_ratio = 100.0 | divided_by: section.settings.aspect-ratio
  assign blog_unfiltered = blogs[blog.handle]
  assign button_style = section.settings.button-style
  assign display_type = section.settings.image-display-type
  assign enable_tag_filter = section.settings.show-tag-filter
  assign featured_article = section.settings.featured-article
  assign hidden_tags = settings.hide-tags | split: ','
  assign mobile_display_type = section.settings.mobile-image-display-type
  assign mobile_aspect_ratio = 100.0 | divided_by: section.settings.mobile-aspect-ratio
  assign num_columns = section.settings.columns
  assign overlay_style = section.settings.overlay-style
  assign parallax_enabled = section.settings.parallax-enabled
  assign show_author = section.settings.show-author
  assign show_cta = section.settings.show-cta
  assign show_date = section.settings.show-date
  assign show_excerpt = section.settings.show-excerpt
  assign show_featured = section.settings.show-featured
  assign show_rss = section.settings.show-rss
  assign show_title = section.settings.show-title
  assign text_style = section.settings.text-style
  assign white_text = section.settings.white-text

  assign loading = 'lazy'
  assign fetchpriority = 'auto'
  if section.index == 1
    assign loading = 'eager'
    assign fetchpriority = 'high'
  endif

  capture available_tags
    echo all_t | append: ','

    for tag in blog.all_tags
      assign temp_tag = tag | downcase | escape
      assign skip = false

      for hidden_tag in hidden_tags
        assign formatted_hidden_tag = hidden_tag | downcase | escape | strip
        if temp_tag == formatted_hidden_tag
          assign skip = true
          break
        endif
      endfor

      if skip
        continue
      endif

      echo tag | append: ','
    endfor
  endcapture

  assign available_tags = available_tags | split: ","

  capture available_tag_values
    echo blog.url | append: ","

    for tag in blog.all_tags
      assign temp_tag = tag | downcase | escape
      assign skip = false

      for hidden_tag in hidden_tags
        assign formatted_hidden_tag = hidden_tag | downcase | escape | strip
        if temp_tag == formatted_hidden_tag
          assign skip = true
          break
        endif
      endfor

      if skip
        continue
      endif

      capture tag_url
        assign handleized_tag = tag | handleize
        echo blog.url | append: '/tagged/' | append: handleized_tag
      endcapture

      if current_tags == blank
        assign current_tag_value = blog.url
      elsif current_tags contains tag
        assign current_tag_value = tag_url
      endif

      echo tag_url | append: ","
    endfor
  endcapture

  assign available_tag_values = available_tag_values | split: ","

  assign show_tag_filter = false
  if enable_tag_filter and available_tags.size > 1
    assign show_tag_filter = true
  endif

  capture sizes
    render 'utils', name: 'sizes', container_width: '4', columns: num_columns, mobile_columns: 1
  endcapture
-%}

<div
  class="blog--root"
  data-section-id="{{ section.id }}"
  data-articles="{{ blog.articles.size }}"
  data-background-color="none"
  data-columns="{{ num_columns }}"
  data-container-width="6"
  data-mobile-spacing-above="none"
  data-mobile-spacing-below="none"
  data-mobile-full-width="true"
  data-show-featured="{{ show_featured }}"
  data-show-tag-filter="{{ show_tag_filter }}"
  data-show-title="{{ show_title }}"
  data-spacing-above="none"
  data-spacing-below="none"
>
  <div class="blog--wrapper">
    {%- paginate blog.articles by 36 -%}
      {%- if show_featured and blog.articles.size > 0 -%}
        <div class="blog--featured">
          <div class="blog--featured-container">
            {%- unless featured_article == blank -%}
              <div
                class="blog--featured-header"
                data-mq="medium-large"
                {% if white_text %}
                  data-text-color="white"
                {% endif %}
                data-text-style="{{ text_style }}"
                {% unless settings.transitions--text %}
                  data-transition-container="{{ section.id }}"
                  data-transition-type="slide-in"
                  data-transition-cascade="vertical"
                  data-transition-cascade-interval="500"
                {% endunless %}
              >
                <h2
                  data-item="featured-heading"
                  {% unless settings.transitions--text %}
                    data-transition-item="{{ section.id }}"
                  {% endunless %}
                >
                  <a href="{{ featured_article.url }}" aria-label="{{ featured_article.title }}">
                    {{- featured_article.title -}}
                  </a>
                </h2>

                <a
                  href="{{ featured_article.url }}"
                  data-item="{{ button_style }}"
                  data-text="{{- continue_reading_t -}}"
                  {% unless settings.transitions--text or button_style == 'block-link' %}
                    data-transition-item="{{ section.id }}"
                  {% endunless %}
                >
                  <div>{{ continue_reading_t }}</div>
                </a>
              </div>

              <a href="{{ featured_article.url }}">
                {%- if featured_article.image -%}
                  {%-
                    render 'image',
                    image: featured_article.image,
                    class: 'blog--featured-image',
                    aspect_ratio: aspect_ratio,
                    display_type: display_type,
                    fetchpriority: fetchpriority,
                    full_width: true,
                    loading: loading,
                    mobile_aspect_ratio: mobile_aspect_ratio,
                    mobile_display_type: mobile_display_type,
                    mobile_full_width: true,
                    mobile_overlay_style: 'none',
                    overlay_style: overlay_style,
                    parallax: parallax_enabled
                  -%}
                {%- else -%}
                  {%-
                    render 'placeholder',
                    type: 'lifestyle',
                    class: 'blog--featured-image',
                    aspect_ratio: aspect_ratio,
                    display_type: display_type,
                    full_width: true,
                    mobile_aspect_ratio: mobile_aspect_ratio,
                    mobile_display_type: mobile_display_type,
                    mobile_full_width: true,
                    mobile_overlay_style: "none",
                    overlay_style: overlay_style,
                    parallax: parallax_enabled,
                    placeholder_index: 2
                  -%}
                {%- endif -%}
              </a>

              <div
                class="blog--featured-content"
                data-mq="small"
                data-container="block"
              >
                <h2
                  data-item="section-heading"
                  class="blog--featured-title--mobile"
                >
                  <a href="{{ featured_article.url }}" aria-label="{{ featured_article.title }}">
                    {{- featured_article.title -}}
                  </a>
                </h2>

                <div class="blog--featured-info">
                  <div class="blog--featured-timesince" data-item="nav-text" data-text-color="gray">
                    <span class="blog--featured-text">{{ featured_t }} &CenterDot; </span>
                    {%-
                      render 'utils',
                      name: 'timesince',
                      created_at: featured_article.published_at
                    -%}
                  </div>

                  {%- if show_author -%}
                    <div class="blog--featured-author" data-item="caption">
                      {{- written_by_t }} {{ featured_article.author -}}
                    </div>
                  {%- endif -%}
                </div>

                {%- if show_excerpt -%}
                  <div class="blog--featured-excerpt" data-item="paragraph">
                    {%- liquid
                      if featured_article.excerpt == blank
                        echo featured_article.content | strip_html | truncate: 100
                      else
                        echo featured_article.excerpt
                      endif
                    -%}
                  </div>
                {%- endif -%}

                <div class="blog--featured-readmore" data-item="block-link">
                  <a href="{{ featured_article.url }}">{{ continue_reading_t }}</a>
                </div>
              </div>

            {%- else -%}
              <div
                class="blog--featured-header"
                data-mq="medium-large"
                {% if white_text %}
                  data-text-color="white"
                {% endif %}
                {% unless settings.transitions--text %}
                  data-transition-item="viewport"
                  data-transition-type="slide-in"
                {% endunless %}
              >
                <h2 data-item="featured-heading">
                  {{- placeholder_title_t -}}
                </h2>
              </div>

              {%-
                render 'placeholder',
                type: 'lifestyle',
                display_type: display_type,
                class: 'blog--featured-image',
                aspect_ratio: aspect_ratio,
                full_width: true,
                mobile_aspect_ratio: mobile_aspect_ratio,
                mobile_display_type: mobile_display_type,
                mobile_full_width: true,
                mobile_overlay_style: "none",
                overlay_style: overlay_style,
                parallax: parallax_enabled,
                placeholder_index: 2
              -%}

              <div
                class="blog--featured-content"
                data-mq="small"
                data-container="block"
              >
                <h2
                  data-item="section-heading"
                  class="blog--featured-title--mobile"
                >
                  {{ placeholder_title_t }}
                </h2>

                <div class="blog--featured-info" data-item="nav-text" data-text-color="gray">
                  {{- placeholder_timesince_t -}}
                </div>

                {%- if show_excerpt -%}
                  <div class="blog--featured-excerpt" data-item="paragraph">
                    {{- placeholder_excerpt_t -}}
                  </div>
                {%- endif -%}

                <div class="blog--featured-readmore" data-item="block-link">
                  <a href="#">
                    {{- continue_reading_t -}}
                  </a>
                </div>
              </div>
            {%- endunless -%}
          </div>
        </div>
      {%- endif -%}

      {%- if show_title or show_tag_filter -%}
        <div class="blog--header--root">
          <div class="blog--header">
            {%- if show_title -%}
              <div
                class="blog--title-container"
                {% unless settings.transitions--text %}
                  data-transition-item="viewport"
                  data-transition-type="slide-in"
                {% endunless %}
              >
                <h1 class="blog--title" data-item="section-heading">
                  <a href="{{ blog.url }}">
                    {{- blog.title -}}
                  </a>
                </h1>
              </div>
            {%- endif -%}

            {%- if show_tag_filter -%}
              <div class="blog--filter--root">
                <nav class="blog--filter--body" id="blog_filters">
                  <ul class="blog--filter--menu" data-item="nav-text">
                    <li class="blog--filter--menu-item">
                      <a
                        href="{{ blog.url }}#blog_filters"
                        {% if current_tags == blank %}
                          data-item="block-link"
                        {% endif %}
                      >
                        <span>{{- all_t -}}</span>
                      </a>
                    </li>

                    {%- for tag in blog.all_tags -%}
                      {%- liquid
                        assign temp_tag = tag | downcase | escape
                        assign skip = false

                        for hidden_tag in hidden_tags
                          assign formatted_hidden_tag = hidden_tag | downcase | escape | strip
                          if temp_tag == formatted_hidden_tag
                            assign skip = true
                            break
                          endif
                        endfor

                        if skip
                          continue
                        endif
                      -%}

                      <li class="blog--filter--menu-item">
                        <a
                          href="{{ blog.url }}/tagged/{{ tag | handleize }}#blog_filters"
                          {% if current_tags contains tag %}
                            data-item="block-link"
                          {% endif %}
                        >
                          <span>{{ tag }}</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>

                  {%-
                    render 'disclosure',
                    label_name: filter_t,
                    option_names: available_tags,
                    option_values: available_tag_values,
                    current_value: current_tag_value,
                    id: 'blog-disclosure',
                    type: 'url-redirect'
                  -%}
                </nav>
              </div>
            {% endif %}
          </div>
        </div>

      {%- endif -%}

      {%- if blog.articles.size > 0 -%}
        <div class="blog--body">
          <masonry-grid-element
            class="blog--article-list"
            data-container="masonry"
            {% unless settings.transitions--other %}
              data-transition-container="{{ section.id }}"
              data-transition-type="fade-in"
            {% endunless %}
          >
            {%- liquid
              for article in blog.articles
                if featured_article.title == article.title and show_featured == true
                  continue
                endif

                render 'article-card', featured_article: article, show_author: show_author, show_cta: show_cta, show_date: show_date, show_excerpt: show_excerpt, type: 'full_article', transition_id: section.id, sizes: sizes
              endfor
            -%}
          </masonry-grid-element>

          {%- if paginate.pages > 1 or show_rss -%}
            <div class="blog--footer">
              {%- if show_rss -%}
                <a
                  class="blog--footer-rss"
                  href="{{ shop.url }}{{ blog.url }}.atom"
                  data-item="block-link"
                >
                  <span>{{- rss_t -}}</span>
                </a>
              {%- endif -%}

              {%- if paginate.pages > 1 -%}
                <div class="blog--footer-pagination">
                  {%- render 'pagination', paginate: paginate -%}
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>

      {%- else -%}
        <div class="blog--no-articles">
          <p data-item="paragraph">
            {{- no_articles_t -}}
          </p>
        </div>

      {%- endif -%}
    {%- endpaginate -%}
  </div>
</div>

{% schema %}
  {
    "name": "Blog",
    "class": "section--blog",
    "settings": [
      {
        "id": "show-title",
        "label": "Show blog title",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "show-cta",
        "label": "Show call-to-action",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "show-date",
        "label": "Show blog date",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "show-tag-filter",
        "label": "Show tag filter",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "show-author",
        "label": "Show author",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "show-excerpt",
        "label": "Show excerpt",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "columns",
        "label": "Columns",
        "type": "range",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 2
      },
      {
        "id": "show-rss",
        "label": "Show RSS",
        "type": "checkbox",
        "default": true
      },
      {
        "type": "header",
        "content": "Featured article"
      },
      {
        "id": "show-featured",
        "label": "Show",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "featured-article",
        "label": "Article",
        "type": "article"
      },
      {
        "type": "header",
        "content": "Image layout"
      },
      {
        "id": "image-display-type",
        "label": "Image aspect ratio",
        "type": "select",
        "options": [
          {
            "label": "Original aspect ratio",
            "value": "original"
          },
          {
            "label": "Adjustable aspect ratio",
            "value": "aspect-ratio"
          },
          {
            "label": "Extra small",
            "value": "x-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra large",
            "value": "x-large"
          },
          {
            "label": "Fit screen",
            "value": "fit-screen"
          }
        ],
        "default": "medium"
      },
      {
        "id": "aspect-ratio",
        "label": "Adjustable aspect ratio",
        "type": "range",
        "min": 24,
        "max": 200,
        "step": 2,
        "default": 56,
        "visible_if": "{{ section.settings.image-display-type == 'aspect-ratio' }}"
      },
      {
        "id": "mobile-image-display-type",
        "label": "Mobile image aspect ratio",
        "type": "select",
        "options": [
          {
            "label": "Original aspect ratio",
            "value": "original"
          },
          {
            "label": "Adjustable aspect ratio",
            "value": "aspect-ratio"
          },
          {
            "label": "Extra small",
            "value": "x-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra large",
            "value": "x-large"
          },
          {
            "label": "Fit screen",
            "value": "fit-screen"
          }
        ],
        "default": "original"
      },
      {
        "id": "mobile-aspect-ratio",
        "label": "Mobile adjustable aspect ratio",
        "type": "range",
        "min": 32,
        "max": 200,
        "step": 2,
        "default": 134,
        "visible_if": "{{ section.settings.mobile-image-display-type == 'aspect-ratio' }}"
      },
      {
        "id": "overlay-style",
        "label": "Image darkness",
        "type": "select",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "Darken entire image",
            "value": "darken"
          },
          {
            "label": "Darken top down",
            "value": "darken-top"
          },
          {
            "label": "Darken bottom up",
            "value": "darken-bottom"
          }
        ],
        "default": "darken-bottom",
        "info": "Can enhance text visibility"
      },
      {
        "id": "text-style",
        "label": "Text shadows",
        "type": "select",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "Text shadow",
            "value": "text-shadow"
          },
          {
            "label": "Oval shadow",
            "value": "eclipse-shadow"
          }
        ],
        "default": "none"
      },
      {
        "id": "parallax-enabled",
        "label": "Enable parallax",
        "type": "checkbox",
        "default": false,
        "info": "Creates a subtle depth effect on scroll, making images engaging"
      },
      {
        "type": "header",
        "content": "Text layout"
      },
      {
        "id": "white-text",
        "label": "Use white text color",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "button-style",
        "label": "Button style",
        "type": "select",
        "options": [
          {
            "label": "Style 1",
            "value": "button-1"
          },
          {
            "label": "Style 2",
            "value": "button-2"
          },
          {
            "label": "Style 3",
            "value": "button-3"
          },
          {
            "label": "Style 4",
            "value": "button-4"
          },
          {
            "label": "Link",
            "value": "block-link"
          }
        ],
        "default": "button-2"
      }
    ]
  }
{% endschema %}