{%- liquid
  assign skip_link_t = 'sections.featured_collection.skip_link' | t

  assign bg_color = section.settings.background-color
  assign border = section.settings.border
  assign button_style = section.settings.button-style
  assign display_type = section.settings.display-type
  assign heading = section.settings.heading | escape
  assign link_text = section.settings.link-text
  assign link_url = section.settings.link-url
  assign mobile_columns = section.settings.products-per-row--mobile | plus: 0
  assign mobile_heading_alignment = section.settings.mobile-heading-alignment
  assign mobile_spacing_above = section.settings.mobile-spacing-above
  assign mobile_spacing_below = section.settings.mobile-spacing-below
  assign product_list = section.settings.product-list
  assign columns = section.settings.products-per-row--desktop | plus: 0
  assign product_limit = columns | times: 2
  assign section_alignment = section.settings.section-alignment
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign white_text = section.settings.white-text

  assign onboarding = false
  if product_list == blank
    assign onboarding = true
  endif

  capture sizes
    render 'utils', name: 'sizes',  columns: columns, mobile_columns: mobile_columns
  endcapture

  capture product_items
    if onboarding == true
      for i in (1..product_limit)
        assign placeholder_index = i
        if i > 6
          assign placeholder_index = i | minus: 6
        endif

        render 'product-card', onboarding: true, placeholder_index: placeholder_index, transition_id: section.id

        unless forloop.last
          echo '<span class="divider"></span>'
        endunless
      endfor

    else
      for product in product_list
        assign loading = 'lazy'
        if forloop.index <= columns and section.index < 3
          assign loading = 'eager'
        endif

        render 'product-card', product_item: product, transition_id: section.id, sizes: sizes, loading: loading

        unless forloop.last
          echo '<span class="divider"></span>'
        endunless
      endfor
    endif
  endcapture

  assign product_items_arr = product_items | split: '<span class="divider"></span>'
-%}

<div
  class="featured-collection--root"
  data-section-id="{{ section.id }}"
  data-background-color="{{ bg_color }}"
  data-border="{{ border }}"
  data-container-width="5"
  data-mobile-spacing-above="{{ mobile_spacing_above }}"
  data-mobile-spacing-below="{{ mobile_spacing_below }}"
  {% if white_text %}
    data-text-color="white"
  {% endif %}
  data-section-type="index_featured_products"
  data-spacing-above="{{ spacing_above }}"
  data-spacing-below="{{ spacing_below }}"
>
  <div class="featured-collection--wrapper" data-container="section">
    {%- unless heading == blank and display_type == 'grid' -%}
      <div
        class="featured-collection--header-nav"
        data-container="nav"
        data-text-alignment="{{ section_alignment }}"
        data-mobile-text-alignment="{{ mobile_heading_alignment }}"
      >
        <div
          class="featured-collection--header"
          data-container="block"
          {% unless settings.transitions--text %}
            data-transition-item="viewport"
            data-transition-type="slide-in"
          {% endunless %}
        >
          {%- unless heading == blank -%}
            <h2 class="featured-collection--title" data-item="section-heading">
              {{- heading -}}
            </h2>
          {%- endunless -%}
        </div>

        {%- liquid
          if display_type == 'slideshow'
            assign blocks_per_slide_desktop = columns | plus: 0.0
            assign blocks_per_slide_mobile = mobile_columns | plus: 0.0
            assign total_slides = product_items_arr.size | divided_by: blocks_per_slide_desktop | ceil
            assign total_slides_mobile = product_items_arr.size | divided_by: blocks_per_slide_mobile | ceil
            render 'carousel-nav-arrow', id: section.id, total_slides_mobile: total_slides_mobile, total_slides: total_slides
          endif
        -%}
      </div>
    {%- endunless -%}

    <div
      class="featured-collection--products"
      data-display-type="{{ display_type }}"
      data-container="panel"
      {%- if display_type == 'grid' -%}
        data-columns="{{ columns }}"
        data-mobile-columns="{{ mobile_columns }}"
      {%- endif -%}
      {% unless settings.transitions--other %}
        data-transition-container="{{ section.id }}"
        data-transition-type="fade-in"
        data-transition-cascade="horizontal"
        data-transition-cascade-interval="200"
      {% endunless %}
    >
      {%- unless link_text == blank -%}
        <a data-item="a11y-button" href="#featured_products_show_more">
          {{- skip_link_t -}}
        </a>
      {%- endunless -%}

      {%- if display_type == 'slideshow' -%}
        {%-
          render 'carousel',
          section: section,
          blocks: product_items_arr,
          blocks_per_slide: columns,
          blocks_per_slide_mobile: mobile_columns,
          total_blocks: product_items_arr.size,
          total_slides: product_items_arr.size | divided_by: 2
        -%}

      {%- else -%}
        {%- liquid
          for product in product_items_arr
            echo product
          endfor
        -%}
      {%- endif -%}
    </div>

    {%- unless link_text == blank -%}
      <div data-container="block" data-text-alignment="{{ section_alignment }}">
        <a
          id="featured_products_show_more"
          class="featured-collection--show-more"
          href="{{ link_url }}"
          data-text="{{ link_text }}"
          data-item="{{ button_style }}"
        >
          <span>{{ link_text }}</span>
        </a>
      </div>
    {%- endunless -%}
  </div>
</div>

{% schema %}
{
  "name": "Featured products",
  "class": "section--featured-products",
  "settings": [
    {
      "type": "header",
      "content": "Style and layout"
    },
    {
      "id": "border",
      "label": "Border",
      "type": "select",
      "options": [
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        },
        {
          "label": "Both",
          "value": "both"
        },
        {
          "label": "None",
          "value": "none"
        }
      ],
      "default": "none"
    },
    {
      "id": "spacing-above",
      "label": "Spacing above",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "large"
    },
    {
      "id": "spacing-below",
      "label": "Spacing below",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "large"
    },
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Light",
          "value": "light"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Accent 1",
          "value": "accent-1"
        },
        {
          "label": "Accent 2",
          "value": "accent-2"
        },
        {
          "label": "Accent 3",
          "value": "accent-3"
        }
      ],
      "default": "none"
    },
    {
      "id": "white-text",
      "label": "Use white text color",
      "type": "checkbox",
      "default": false
    },
    {
      "id": "display-type",
      "label": "Display type",
      "type": "select",
      "options": [
        { "label": "Slideshow", "value": "slideshow" },
        { "label": "Grid", "value": "grid" }
      ],
      "default": "slideshow"
    },
    {
      "label": "Products per row",
      "id": "products-per-row--desktop",
      "type": "select",
      "options": [
        { "value": "3", "label": "3" },
        { "value": "4", "label": "4" }
      ],
      "default": "3"
    },
    {
      "id": "section-alignment",
      "label": "Heading and call-to-action alignment",
      "type": "text_alignment",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "product_list",
      "id": "product-list",
      "label": "Products",
      "limit": 12
    },
    {
      "id": "heading",
      "label": "Heading",
      "type": "text",
      "default": "Featured products"
    },
    {
      "type": "url",
      "id": "link-url",
      "label": "Link"
    },
    {
      "id": "button-style",
      "label": "Button style",
      "type": "select",
      "options": [
        {
          "label": "Style 1",
          "value": "button-1"
        },
        {
          "label": "Style 2",
          "value": "button-2"
        },
        {
          "label": "Style 3",
          "value": "button-3"
        },
        {
          "label": "Style 4",
          "value": "button-4"
        },
        {
          "label": "Link",
          "value": "block-link"
        }
      ],
      "default": "button-1"
    },
    {
      "type": "text",
      "id": "link-text",
      "label": "Optional link"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "id": "mobile-spacing-above",
      "label": "Spacing above",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "medium"
    },
    {
      "id": "mobile-spacing-below",
      "label": "Spacing below",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "medium"
    },
    {
      "id": "mobile-heading-alignment",
      "label": "Heading alignment",
      "type": "text_alignment",
      "default": "left",
      "info": "Align the heading to balance it with the slideshow navigation arrows."
    },
    {
      "label": "Product per row",
      "id": "products-per-row--mobile",
      "type": "select",
      "options": [
        { "value": "1", "label": "1" },
        { "value": "2", "label": "2" }
      ],
      "default": "2"
    }
  ],
  "presets": [
    {
      "name": "Featured products"
    }
  ],
  "disabled_on": {
    "groups": ["aside"]
  }
}
{% endschema %}