{%- liquid
  assign bg_color = section.settings.background-color
  assign blog = blogs[section.settings.blog]
  assign blog_heading = section.settings.blog-heading | escape
  assign border = section.settings.border
  assign button_style = section.settings.button-style
  assign container_width = section.settings.container-width
  assign mobile_heading_alignment = section.settings.mobile-heading-alignment
  assign mobile_media_layout = section.settings.mobile-media-layout
  assign mobile_spacing_above = section.settings.mobile-spacing-above
  assign mobile_spacing_below = section.settings.mobile-spacing-below
  assign mobile_text_alignment = section.settings.mobile-text-alignment
  assign section_alignment = section.settings.section-alignment
  assign selected_tag = section.settings.tag-select | downcase | escape
  assign show_cta = section.settings.show-cta
  assign show_date = section.settings.show-date
  assign show_excerpt = section.settings.show-excerpt
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign text_alignment = section.settings.text-alignment
  assign view_more_text = section.settings.view-more-text | escape
  assign white_text = section.settings.white-text

  assign loading = 'lazy'
  if section.index < 3
    assign loading = 'eager'
  endif
-%}

<div
  class="featured-blog--root"
  data-section-id="{{ section.id }}"
  data-aspect-ratio="{{ settings.image--article-size }}"
  data-background-color="{{ bg_color }}"
  data-border="{{ border }}"
  data-container-width="{{ container_width }}"
  data-mobile-spacing-above="{{ mobile_spacing_above }}"
  data-mobile-spacing-below="{{ mobile_spacing_below }}"
  {% if white_text %}
    data-text-color="white"
  {% endif %}
  data-spacing-above="{{ spacing_above }}"
  data-spacing-below="{{ spacing_below }}"
>
  <div class="featured-blog--wrapper" data-container="section">
    <div
      class="featured-blog--header-nav"
      data-container="nav"
      data-text-alignment="{{ section_alignment }}"
      data-mobile-text-alignment="{{ mobile_heading_alignment }}"
    >
      <div
        class="featured-blog--header"
        data-container="block"
        {% unless settings.transitions--text %}
          data-transition-item="viewport"
          data-transition-type="slide-in"
        {% endunless %}
      >
        {%- unless blog_heading == blank -%}
          <h2 class="featured-blog--heading" data-item="section-heading">
            {{- blog_heading -}}
          </h2>
        {%- endunless -%}
      </div>

      {%- liquid
        if mobile_media_layout == 'slideshow'
          assign total_slides_mobile = 3
          if blog.articles.size < 3 and blog.articles.size > 0
            assign total_slides_mobile = blog.articles.size
          endif

          render 'carousel-nav-arrow', id: section.id, total_slides_mobile: total_slides_mobile
        endif
      -%}
    </div>

    {%-
      render 'blog-grid',
      section: section,
      alignment: text_alignment,
      blog: blog,
      container_width: container_width,
      mobile_alignment: mobile_text_alignment,
      mobile_media_layout: mobile_media_layout,
      loading: loading,
      selected_tag: selected_tag,
      show_cta: show_cta,
      show_date: show_date,
      show_excerpt: show_excerpt,
      transition_id: section.id
    -%}

    {%- unless view_more_text == blank -%}
      <div
        class="featured-blog--footer"
        data-container="block"
        data-text-alignment="{{ section_alignment }}"
      >
        <a
          data-item="{{ button_style }}"
          data-text="{{ view_more_text }}"
          href="{{ blog.url }}"
        >
          <div>{{ view_more_text }}</div>
        </a>
      </div>
    {%- endunless -%}
  </div>
</div>

{% schema %}
{
  "name": "Blog posts",
  "class": "section--featured-blog",
  "settings": [
    {
      "type": "header",
      "content": "Style and layout"
    },
    {
      "id": "border",
      "label": "Border",
      "type": "select",
      "options": [
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        },
        {
          "label": "Both",
          "value": "both"
        },
        {
          "label": "None",
          "value": "none"
        }
      ],
      "default": "none"
    },
    {
      "id": "spacing-above",
      "label": "Spacing above",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "large"
    },
    {
      "id": "spacing-below",
      "label": "Spacing below",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "large"
    },
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Light",
          "value": "light"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Accent 1",
          "value": "accent-1"
        },
        {
          "label": "Accent 2",
          "value": "accent-2"
        },
        {
          "label": "Accent 3",
          "value": "accent-3"
        }
      ],
      "default": "none"
    },
    {
      "id": "white-text",
      "label": "Use white text color",
      "type": "checkbox",
      "default": false
    },
    {
      "id": "section-alignment",
      "label": "Heading and call-to-action alignment",
      "type": "text_alignment",
      "default": "center"
    },
    {
      "id": "text-alignment",
      "label": "Block text alignment",
      "type": "text_alignment",
      "default": "center"
    },
    {
      "id": "container-width",
      "label": "Maximum width of container",
      "type": "select",
      "options": [
        { "label": "Extra small", "value": "1" },
        { "label": "Small", "value": "2" },
        { "label": "Medium", "value": "3" },
        { "label": "Large", "value": "4" },
        { "label": "Extra large", "value": "5" }
      ],
      "default": "4"
    },
    {
      "id": "tag-select",
      "label": "Filter by tag",
      "type": "text",
      "default": "pinned",
      "info": "Tag articles with 'pinned' or change this to match an existing tag"
    },
    {
      "id": "show-cta",
      "label": "Show call-to-action",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "show-date",
      "label": "Show date",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "show-excerpt",
      "label": "Show excerpt",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "id": "blog",
      "label": "Choose blog",
      "type": "blog"
    },
    {
      "id": "blog-heading",
      "label": "Heading",
      "type": "text",
      "default": "Blog posts"
    },
    {
      "id": "button-style",
      "label": "Button style",
      "type": "select",
      "options": [
        {
          "label": "Style 1",
          "value": "button-1"
        },
        {
          "label": "Style 2",
          "value": "button-2"
        },
        {
          "label": "Style 3",
          "value": "button-3"
        },
        {
          "label": "Style 4",
          "value": "button-4"
        },
        {
          "label": "Link",
          "value": "block-link"
        }
      ],
      "default": "button-1"
    },
    {
      "id": "view-more-text",
      "label": "View more text",
      "type": "text",
      "default": "View more"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "id": "mobile-spacing-above",
      "label": "Spacing above",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "medium"
    },
    {
      "id": "mobile-spacing-below",
      "label": "Spacing below",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "medium"
    },
    {
      "id": "mobile-heading-alignment",
      "label": "Heading alignment",
      "type": "text_alignment",
      "default": "left",
      "info": "Align the heading to balance it with the slideshow navigation arrows."
    },
    {
      "id": "mobile-text-alignment",
      "label": "Block text alignment",
      "type": "text_alignment",
      "default": "center"
    },
    {
      "id": "mobile-media-layout",
      "label": "Media layout",
      "type": "select",
      "options": [
        { "label": "Slideshow", "value": "slideshow" },
        { "label": "Grid", "value": "grid" }
      ],
      "default": "slideshow"
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "settings": {
        "blog": "News"
      }
    }
  ],
  "disabled_on": {
    "groups": ["aside"]
  }
}
{% endschema %}