{%- liquid
  assign navigation_t = 'layout.footer.navigation' | t

  assign bg_color = section.settings.background-color
  assign border = section.settings.border
  assign heading_type = section.settings.heading-type
  assign mobile_spacing_above = section.settings.mobile-spacing-above
  assign mobile_spacing_below = section.settings.mobile-spacing-below
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign white_text = section.settings.white-text
-%}

<div
  class="footer--root"
  data-section-id="{{ section.id }}"
  data-section-type="footer"
  data-background-color="{{ bg_color }}"
  data-border="{{ border }}"
  data-container-width="5"
  data-mobile-spacing-above="{{ mobile_spacing_above }}"
  data-mobile-spacing-below="{{ mobile_spacing_below }}"
  data-spacing-above="{{ spacing_above }}"
  data-spacing-below="{{ spacing_below }}"
  {% if white_text %}
    data-text-color="white"
  {% endif %}
>
  <div class="footer--wrapper">
    {%- for block in section.blocks -%}
      <div
        class="footer--block"
        data-block-type="{{ block.type }}"
        {{ block.shopify_attributes }}
      >
        <div class="footer--block--container" data-container="block">
          {%- case block.type -%}
            {%- when 'about' -%}
              {%- unless block.settings.about-title == blank -%}
                <div class="footer--block--heading" data-item="{{ heading_type }}">
                  {{- block.settings.about-title | escape -}}
                </div>
              {%- endunless -%}

              {%- unless block.settings.text == blank -%}
                <div class="footer--about-text" data-item="rte-content">
                  {%- assign current_year = 'now' | date: '%Y' -%}
                  {{- block.settings.text | replace: '[current_year]', current_year -}}
                </div>
              {%- endunless -%}

              {%- liquid
                if section.settings.enable-follow-on-shop
                  echo shop | login_button: action: 'follow'
                endif
              -%}

            {%- when 'menu' -%}
              {%- unless block.settings.menu-title == blank -%}
                <div class="footer--block--heading" data-item="{{ heading_type }}">
                  {{- block.settings.menu-title | escape -}}
                </div>
              {%- endunless -%}

              {%- if linklists[block.settings.menu].links.size > 0 or block.settings.show-policy-links -%}
                <ul class="footer--menu" aria-label="{{ navigation_t }}">
                  {%- if linklists[block.settings.menu].links.size > 0 -%}
                    {%- assign footer_nav = block.settings.menu -%}

                    {%- for link in linklists[footer_nav].links -%}
                      <li>
                        {%- if link.url == routes.search_url -%}
                          <div
                            data-drawer-open="top"
                            data-drawer-view="search"
                            tabindex="0"
                            data-item="sub-nav-text"
                          >
                            {{- link.title -}}
                          </div>
                        {%- else -%}
                          <a
                            href="{{ link.url }}"
                            title="{{ link.title }}"
                            data-item="sub-nav-text"
                          >
                            {{- link.title -}}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  {%- endif -%}

                  {%- if block.settings.show-policy-links -%}
                    {%- for policy in shop.policies -%}
                      {%- if policy != blank -%}
                        <li>
                          <a
                            href="{{ policy.url }}"
                            title="{{ policy.title }}"
                            data-item="sub-nav-text"
                          >
                            {{- policy.title -}}
                          </a>
                        </li>
                      {%- endif -%}
                    {%- endfor -%}
                  {%- endif -%}
                </ul>
              {%- endif -%}

            {%- when 'subscribe' -%}
              {%- unless block.settings.heading == blank -%}
                <div class="footer--block--heading" data-item="{{ heading_type }}">
                  {{ block.settings.heading }}
                </div>
              {%- endunless -%}

              {%- unless block.settings.description == blank -%}
                <div class="footer--subscribe-info" data-item="paragraph">
                  {{- block.settings.description -}}
                </div>
              {%- endunless -%}

              {%- liquid
                if block.settings.newsletter-enabled
                  render 'subscribe-form', id: 'footer_form'
                endif

                if block.settings.show-social-icons
                  render 'social-icons', type: 'follow', alignment: 'left', mobile_alignment: 'center'
                endif
              -%}

            {%- when 'liquid' -%}
              {{- block.settings.custom-liquid -}}

          {%- endcase -%}
        </div>
      </div>
    {%- endfor -%}

    {%- liquid
      if section.blocks.size == 0
        render 'no-blocks'
      endif
    -%}
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "class": "section--footer",
  "tag": "footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "Style and layout"
    },
    {
      "id": "border",
      "label": "Border",
      "type": "select",
      "options": [
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        },
        {
          "label": "Both",
          "value": "both"
        },
        {
          "label": "None",
          "value": "none"
        }
      ],
      "default": "none"
    },
    {
      "id": "spacing-above",
      "label": "Spacing above",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "large"
    },
    {
      "id": "spacing-below",
      "label": "Spacing below",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "large"
    },
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Light",
          "value": "light"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Accent 1",
          "value": "accent-1"
        },
        {
          "label": "Accent 2",
          "value": "accent-2"
        },
        {
          "label": "Accent 3",
          "value": "accent-3"
        }
      ],
      "default": "accent-1"
    },
    {
      "id": "heading-type",
      "label": "Heading type",
      "type": "select",
      "options": [
        { "label": "Medium", "value": "block-heading" },
        { "label": "Small", "value": "nav-text" }
      ],
      "default": "block-heading"
    },
    {
      "id": "white-text",
      "label": "Use white text color",
      "type": "checkbox",
      "default": false
    },
    {
      "type": "header",
      "content": "Follow on Shop",
      "info": "To allow customers to follow your store on the Shop app from your storefront, Shop Pay must be enabled. [Learn more](https:\/\/help.shopify.com\/manual\/online-store\/themes\/customizing-themes\/follow-on-shop)."
    },
    {
      "type": "checkbox",
      "id": "enable-follow-on-shop",
      "label": "Enable Follow on Shop",
      "default": true
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "id": "mobile-spacing-above",
      "label": "Spacing above",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "medium"
    },
    {
      "id": "mobile-spacing-below",
      "label": "Spacing below",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "medium"
    }
  ],
  "blocks": [
    {
      "type": "about",
      "name": "About and copyright",
      "settings": [
        {
          "type": "text",
          "id": "about-title",
          "label": "Title",
          "default": "About the store"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Description and copyright",
          "default": "<p>[current_year] © Your brand name here.<br><br>A brief store summary, tagline, or vision statement.<p>",
          "info": "Inserting the text '[current_year]' will automatically insert the current year."
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "menu-title",
          "label": "Title",
          "default": "Quick links"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "footer",
          "info": "This menu won't show submenu items."
        },
        {
          "type": "header",
          "content": "Policy links",
          "info": "To add store policies, go to your [policy settings](\/admin\/settings\/legal)."
        },
        {
          "type": "checkbox",
          "id": "show-policy-links",
          "label": "Show policy links",
          "default": true
        }
      ]
    },
    {
      "type": "subscribe",
      "name": "Subscribe",
      "limit": 1,
      "settings": [
        {
          "id": "heading",
          "label": "Newsletter heading",
          "type": "text",
          "default": "Newsletter"
        },
        {
          "id": "description",
          "label": "Newsletter information",
          "type": "richtext",
          "default": "<p>Be the first to receive updates on new arrivals, special promos and sales.</p>"
        },
        {
          "type": "checkbox",
          "id": "newsletter-enabled",
          "label": "Show newsletter",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show-social-icons",
          "label": "Show social icons",
          "default": true
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Custom liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom-liquid",
          "label": "Custom Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    }
  ],
  "enabled_on": {
    "groups": ["footer"]
  }
}
{% endschema %}