{%- liquid
  assign no_products_t = 'collections.no_products_feedback' | t
  assign view_more_t = 'collections.view_more' | t

  assign button_style = section.settings.button-style
  assign container_width = section.settings.container-width
  assign columns = section.settings.width
  assign heading = section.settings.heading
  assign heading_type = section.settings.heading-type
  assign image_type = section.settings.image-type
  assign mobile_button_style = section.settings.mobile-button-style
  assign mobile_columns = section.settings.mobile-width
  assign mobile_overlay = section.settings.mobile-overlay
  assign mobile_spacing_above = section.settings.mobile-spacing-above
  assign mobile_spacing_below = section.settings.mobile-spacing-below
  assign overlay_style = section.settings.overlay-style
  assign section_alignment = section.settings.section-alignment
  assign spacing = section.settings.spacing
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign text_style = section.settings.text-style
  assign view = section.settings.view
  assign white_text = section.settings.white-text

  assign hover_enabled = false
  if overlay_style == 'hover'
    assign hover_enabled = true
  endif

  assign collection_list = section.settings.collection-list
  if collection_list == blank
    assign collection_list = collections
  endif
-%}

{%- capture sizes -%}
  (max-width: 767px) {{ 100 | divided_by: mobile_columns }}vw, {{ 100 | divided_by: columns }}vw
{%- endcapture %}

{%- case view -%}
  {%- when 'collection-thumbnails' -%}
    <div
      class="featured-grid--root"
      data-section-id="{{ section.id }}"
      data-aspect-ratio="{{ settings.image--collection-size }}"
      data-background-color="none"
      data-container-width="{{ container_width }}"
      data-hover-enabled="{{ hover_enabled }}"
      data-mobile-overlay="{{ mobile_overlay }}"
      data-mobile-spacing-above="{{ mobile_spacing_above }}"
      data-mobile-spacing-below="{{ mobile_spacing_below }}"
      data-spacing-above="{{ spacing_above }}"
      data-spacing-below="{{ spacing_below }}"
      data-text-position="center"
    >
      <div class="featured-grid--wrapper" data-container="section">
        {%- unless heading == blank -%}
          <div
            class="featured-grid--header"
            data-container="block"
            data-text-alignment="{{ section_alignment }}"
            {% unless settings.transitions--text %}
              data-transition-container="{{ section.id }}-header"
              data-transition-type="slide-in"
              data-transition-cascade="vertical"
              data-transition-cascade-interval="500"
            {% endunless %}
          >
            {%- unless heading == blank -%}
              <div
                class="featured-grid--heading"
                {% unless settings.transitions--text %}
                  data-transition-item="{{ section.id }}-header"
                {% endunless %}
              >
                <h2 data-item="section-heading">
                  {{- heading | escape -}}
                </h2>
              </div>
            {%- endunless -%}
          </div>
        {%- endunless -%}

        <div
          class="featured-grid--body"
          data-container="panel"
          data-columns="{{ columns }}"
          data-mobile-columns="{{ mobile_columns }}"
          data-block-spacing="{{ spacing }}"
          {% if white_text %}
            data-text-color="white"
          {% endif %}
          {% unless settings.transitions--other %}
            data-transition-container="{{ section.id }}"
            data-transition-type="fade-in"
            data-transition-cascade="horizontal"
            data-transition-cascade-interval="200"
          {% endunless %}
          style="--row-height:auto;"
        >
          {%- for collection in collection_list -%}
            <div
              class="featured-grid--item"
              {% unless settings.transitions--other %}
                data-transition-item="{{ section.id }}"
              {% endunless %}
              style="--x-blocks:1;--y-blocks:1;"
            >
              <a
                class="featured-grid--item--link-wrapper"
                href="{{ collection.url }}"
                aria-label="{{ collection.title }}"
              >
                <div class="featured-grid--item--container">
                  <div
                    class="featured-grid--item--media"
                    {% unless settings.transitions--image %}
                      data-transition-item
                      data-transition-type="zoom-in"
                      data-transition-trigger="hover"
                    {% endunless %}
                  >
                    {%- assign no_product_images = true -%}

                    {%- if collection.image and image_type == 'collection' -%}
                      {%-
                        render 'image',
                        image: collection.image,
                        overlay_style: overlay_style,
                        sizes: sizes
                      -%}

                    {%- elsif collection.products.length > 0 -%}
                      {%- for product in collection.products -%}
                        {%- if product.featured_media.preview_image -%}
                          {%- assign no_product_images = false -%}
                          {%-
                            render 'image',
                            image: product.featured_media.preview_image,
                            overlay_style: overlay_style,
                            sizes: sizes
                          -%}
                          {%- break -%}
                        {%- endif -%}
                      {%- endfor -%}

                      {%- if no_product_images -%}
                        {%-
                          render 'placeholder',
                          type: 'collection',
                          overlay_style: overlay_style,
                          placeholder_index: 1
                        -%}
                      {%- endif -%}
                    {%- else -%}
                      {%-
                        render 'placeholder',
                        type: 'collection',
                        overlay_style: overlay_style,
                        placeholder_index: 1
                      -%}
                    {%- endif -%}
                  </div>

                  {%-
                    render 'stacked-text',
                    white_text: white_text,
                    cover_link: true,
                    heading_type: heading_type,
                    id: 'viewport',
                    style: text_style,
                    title: collection.title,
                    x_alignment: 'center',
                    y_alignment: 'center'
                  -%}
                </div>
              </a>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>

  {%- when 'expanded-product-list' -%}
    <div
      class="list-collections--root"
      data-section-id="{{ section.id }}"
      data-background-color="none"
      data-container-width="{{ container_width }}"
      data-spacing-above="{{ spacing_above }}"
      data-spacing-below="{{ spacing_below }}"
      data-mobile-spacing-above="{{ mobile_spacing_above }}"
      data-mobile-spacing-below="{{ mobile_spacing_below }}"
    >
      <div class="list-collections--wrapper">
        {%- for collection in collection_list -%}
          <div class="list-collections--item" data-container="section">
            <a
              class="list-collections--heading"
              data-container="block"
              data-text-alignment="{{ section_alignment }}"
              href="{{ collection.url }}"
            >
              <h2 data-item="section-heading">
                {{- collection.title -}}
              </h2>
            </a>

            {%- if collection.products.size > 0 -%}
              <div
                class="list-collections--grid"
                data-container="panel"
                data-columns="4"
                data-mobile-columns="2"
                {% unless settings.transitions--other %}
                  data-transition-container="{{ section.id }}"
                  data-transition-type="fade-in"
                  data-transition-cascade="horizontal"
                  data-transition-cascade-interval="200"
                {% endunless %}
              >
                {%- liquid
                  for product in collection.products limit: 8
                    render 'product-card', product_item: product, transition_id: section.id, sizes: '(max-width: 767px) 50vw, 25vw'
                  endfor
                -%}
              </div>
            {%- else -%}
              <div
                class="list-collections--empty"
                data-container="block"
                data-text-alignment="{{ section_alignment }}"
              >
                <p data-item="paragraph">
                  {{- no_products_t -}}
                </p>
              </div>
            {%- endif -%}

            {%- if collection.products.size > 8 -%}
              <div data-container="block" data-text-alignment="{{ section_alignment }}">
                <a
                  class="list-collections--button"
                  href="{{ collection.url }}"
                  data-item="{{ button_style }}"
                  data-mobile-item="{{ mobile_button_style }}"
                  data-text="{{ view_more_t }}"
                >
                  <span>{{ view_more_t }}</span>
                </a>
              </div>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>

{%- endcase -%}

{% schema %}
{
  "name": "Collections list",
  "class": "section--collections-list",
  "settings": [
    {
      "type": "header",
      "content": "Style and layout"
    },
    {
      "label": "View",
      "id": "view",
      "type": "radio",
      "options": [
        { "value": "collection-thumbnails", "label": "Collection thumbnails" },
        { "value": "expanded-product-list", "label": "Expanded product list" }
      ],
      "default": "collection-thumbnails"
    },
    {
      "id": "spacing-above",
      "label": "Spacing above",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "large"
    },
    {
      "id": "spacing-below",
      "label": "Spacing below",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "large"
    },
    {
      "id": "container-width",
      "label": "Maximum width of container",
      "type": "select",
      "options": [
        {
          "label": "Extra small",
          "value": "1"
        },
        {
          "label": "Small",
          "value": "2"
        },
        {
          "label": "Medium",
          "value": "3"
        },
        {
          "label": "Large",
          "value": "4"
        },
        {
          "label": "Extra large",
          "value": "5"
        },
        {
          "label": "Full width",
          "value": "6"
        }
      ],
      "default": "4"
    },
    {
      "id": "section-alignment",
      "label": "Heading and call-to-action alignment",
      "type": "text_alignment",
      "default": "center"
    },
    {
      "id": "width",
      "label": "Blocks per row",
      "type": "range",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4,
      "visible_if": "{{ section.settings.view == 'collection-thumbnails' }}"
    },
    {
      "id": "button-style",
      "label": "Button style",
      "type": "select",
      "options": [
        {
          "label": "Style 1",
          "value": "button-1"
        },
        {
          "label": "Style 2",
          "value": "button-2"
        },
        {
          "label": "Style 3",
          "value": "button-3"
        },
        {
          "label": "Style 4",
          "value": "button-4"
        },
        {
          "label": "Link",
          "value": "block-link"
        }
      ],
      "default": "button-1",
      "visible_if": "{{ section.settings.view == 'expanded-product-list' }}"
    },
    {
      "id": "white-text",
      "label": "Use white text color",
      "type": "checkbox",
      "default": true,
      "visible_if": "{{ section.settings.view == 'collection-thumbnails' }}"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "collection_list",
      "id": "collection-list",
      "label": "Collections",
      "limit": 24
    },
    {
      "id": "heading",
      "label": "Heading",
      "type": "text",
      "default": "Collections",
      "visible_if": "{{ section.settings.view == 'collection-thumbnails' }}"
    },
    {
      "type": "header",
      "content": "Text layout",
      "visible_if": "{{ section.settings.view == 'collection-thumbnails' }}"
    },
    {
      "id": "overlay-style",
      "label": "Image overlay",
      "type": "select",
      "options": [
        { "label": "None", "value": "none" },
        { "label": "Darken entire image", "value": "darken" },
        { "label": "Darken top down", "value": "darken-top" },
        { "label": "Darken bottom up", "value": "darken-bottom" },
        { "label": "Hover", "value": "hover" }
      ],
      "default": "darken-bottom",
      "info": "Can enhance text visibility",
      "visible_if": "{{ section.settings.view == 'collection-thumbnails' }}"
    },
    {
      "id": "text-style",
      "label": "Text shadows",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Text shadow",
          "value": "text-shadow"
        },
        {
          "label": "Oval shadow",
          "value": "eclipse-shadow"
        }
      ],
      "default": "none",
      "visible_if": "{{ section.settings.view == 'collection-thumbnails' }}"
    },
    {
      "id": "heading-type",
      "label": "Heading type",
      "type": "select",
      "options": [
        { "label": "Large", "value": "section-heading" },
        { "label": "Medium", "value": "block-heading" },
        { "label": "Small", "value": "overline" }
      ],
      "default": "block-heading",
      "visible_if": "{{ section.settings.view == 'collection-thumbnails' }}"
    },
    {
      "type": "header",
      "content": "Image layout",
      "visible_if": "{{ section.settings.view == 'collection-thumbnails' }}"
    },
    {
      "label": "Thumbnail",
      "id": "image-type",
      "type": "radio",
      "options": [
        { "value": "collection", "label": "Collection image" },
        { "value": "product", "label": "Product image" }
      ],
      "default": "product",
      "info": "Product image chooses first available product image in collection.",
      "visible_if": "{{ section.settings.view == 'collection-thumbnails' }}"
    },
    {
      "id": "spacing",
      "label": "Show spacing between blocks",
      "type": "checkbox",
      "default": true,
      "visible_if": "{{ section.settings.view == 'collection-thumbnails' }}"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "id": "mobile-spacing-above",
      "label": "Spacing above",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "medium"
    },
    {
      "id": "mobile-spacing-below",
      "label": "Spacing below",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "medium"
    },
    {
      "id": "mobile-width",
      "label": "Blocks per row for small devices",
      "type": "select",
      "options": [
        { "value": "1", "label": "1" },
        { "value": "2", "label": "2" }
      ],
      "default": "2",
      "visible_if": "{{ section.settings.view == 'collection-thumbnails' }}"
    },
    {
      "id": "mobile-overlay",
      "label": "Overlay text on small devices",
      "type": "checkbox",
      "default": true,
      "visible_if": "{{ section.settings.view == 'collection-thumbnails' }}"
    },
    {
      "id": "mobile-button-style",
      "label": "Mobile button style",
      "type": "select",
      "options": [
        {
          "label": "Style 1",
          "value": "button-1"
        },
        {
          "label": "Style 2",
          "value": "button-2"
        },
        {
          "label": "Style 3",
          "value": "button-3"
        },
        {
          "label": "Style 4",
          "value": "button-4"
        }
      ],
      "default": "button-1",
      "visible_if": "{{ section.settings.button-style != 'block-link' }}"
    }
  ]
}
{% endschema %}