{%- liquid
  assign bg_color = section.settings.background-color
  assign container_width = section.settings.container-width
  assign mobile_spacing_above = section.settings.mobile-spacing-above
  assign mobile_spacing_below = section.settings.mobile-spacing-below
  assign show_title = section.settings.show-title
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign white_text = section.settings.white-text
-%}

{%- if page.content != blank or show_title -%}
  <div
    class="template-page--root"
    data-section-id="{{ section.id }}"
    data-background-color="{{ bg_color }}"
    data-container-width="{{ container_width }}"
    data-mobile-spacing-above="{{ mobile_spacing_above }}"
    data-mobile-spacing-below="{{ mobile_spacing_below }}"
    data-spacing-above="{{ spacing_above }}"
    data-spacing-below="{{ spacing_below }}"
    {% if white_text %}
      data-text-color="white"
    {% endif %}
    {% if page.content == blank %}
      data-content-empty="true"
    {% endif %}
  >
    <div class="template-page--wrapper">
      {%- if show_title -%}
        <h1
          class="template-page--heading"
          data-item="section-heading"
          {% unless settings.transitions--text %}
            data-transition-item="viewport"
            data-transition-type="slide-in"
          {% endunless %}
        >
          {{- page.title -}}
        </h1>
      {%- endif -%}

      <div data-item="rte-content">
        {{- page.content -}}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Page",
    "class": "section--page",
    "settings": [
      {
        "id": "show-title",
        "label": "Show title",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "spacing-above",
        "label": "Spacing above",
        "type": "select",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra large",
            "value": "x-large"
          }
        ],
        "default": "large"
      },
      {
        "id": "spacing-below",
        "label": "Spacing below",
        "type": "select",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra large",
            "value": "x-large"
          }
        ],
        "default": "large"
      },
      {
        "id": "container-width",
        "label": "Maximum width of container",
        "type": "select",
        "options": [
          {
            "label": "Extra small",
            "value": "1"
          },
          {
            "label": "Small",
            "value": "2"
          },
          {
            "label": "Medium",
            "value": "3"
          },
          {
            "label": "Large",
            "value": "4"
          },
          {
            "label": "Extra large",
            "value": "5"
          },
          {
            "label": "Full width",
            "value": "6"
          }
        ],
        "default": "4"
      },
      {
        "id": "background-color",
        "label": "Background color",
        "type": "select",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "Light",
            "value": "light"
          },
          {
            "label": "Dark",
            "value": "dark"
          },
          {
            "label": "Accent 1",
            "value": "accent-1"
          },
          {
            "label": "Accent 2",
            "value": "accent-2"
          },
          {
            "label": "Accent 3",
            "value": "accent-3"
          }
        ],
        "default": "none"
      },
      {
        "id": "white-text",
        "label": "Use white text color",
        "type": "checkbox",
        "default": false
      },
      {
        "type": "header",
        "content": "Mobile"
      },
      {
        "id": "mobile-spacing-above",
        "label": "Spacing above",
        "type": "select",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra large",
            "value": "x-large"
          }
        ],
        "default": "medium"
      },
      {
        "id": "mobile-spacing-below",
        "label": "Spacing below",
        "type": "select",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra large",
            "value": "x-large"
          }
        ],
        "default": "medium"
      }
    ]
  }
{% endschema %}
