{%- liquid
  assign bg_color = section.settings.background-color
  assign border = section.settings.border
  assign button_style = section.settings.button-style
  assign container_width = section.settings.container-width
  assign heading = section.settings.heading
  assign link_text = section.settings.link-text
  assign link_url = section.settings.link-url
  assign mobile_spacing_above = section.settings.mobile-spacing-above
  assign mobile_spacing_below = section.settings.mobile-spacing-below
  assign show_description = section.settings.show-description
  assign section_alignment = section.settings.section-alignment
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign white_text = section.settings.white-text
-%}

<service-list-element
  class="service-list--root"
  data-section-id="{{ section.id }}"
  data-section-type="service_list"
  data-background-color="{{ bg_color }}"
  data-border="{{ border }}"
  data-container-width="{{ container_width }}"
  data-mobile-spacing-above="{{ mobile_spacing_above }}"
  data-mobile-spacing-below="{{ mobile_spacing_below }}"
  data-show-description="{{ show_description }}"
  data-spacing-above="{{ spacing_above }}"
  data-spacing-below="{{ spacing_below }}"
  {% if white_text %}
    data-text-color="white"
  {% endif %}
>
  <div class="service-list--wrapper" data-container="section">
    {%- unless heading == blank -%}
      <div
        class="service-list--header"
        data-container="block"
        data-text-alignment="{{ section_alignment }}"
        {% unless settings.transitions--text %}
          data-transition-item="viewport"
          data-transition-type="slide-in"
        {% endunless %}
      >
        <h2 class="service-list--title" data-item="section-heading">
          {{- heading | escape -}}
        </h2>
      </div>
    {%- endunless -%}

    <div class="service-list--container">
      {%- if section.blocks.size > 0 -%}
        <div class="service-list--single-column">
          <ul class="service-list--blocks">
            {%- for block in section.blocks -%}
              {%- if block.type == "header" -%}
                {%- unless forloop.first -%}
                  </ul><ul class="service-list--blocks">
                {%- endunless -%}

                <li class="service-list--block-header" {{ block.shopify_attributes }}>
                  <h3 class="service-list--block-header--text" data-item="block-heading">
                    {{- block.settings.title | escape -}}
                  </h3>
                </li>

              {%- else -%}
                <li class="service-list--block" {{ block.shopify_attributes }}>
                  <div class="service-list--info">
                    {%- if block.settings.title.size > 0 -%}
                      <div class="service-list--block-title">
                        <p class="service-list--block-title-text" data-item="paragraph">
                          {{- block.settings.title | escape -}}
                        </p>
                      </div>
                    {%- endif -%}
                    {%- if block.settings.price.size > 0 -%}
                      <div class="service-list--price" data-item="nav-text">
                        {{- block.settings.price | escape -}}
                      </div>
                    {%- endif -%}
                  </div>

                  {%- if show_description -%}
                    {%- if block.settings.description != blank -%}
                      <div class="service-list--description" data-item="rte-content">
                        {{- block.settings.description -}}
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
        <div class="service-list--left-column"></div>
        <div class="service-list--right-column"></div>
      {%- endif -%}
    </div>

    {%- unless link_text == blank -%}
      <div
        class="service-list--footer"
        data-container="block"
        data-text-alignment="{{ section_alignment }}"
      >
        <a
          class="service-list--button"
          href="{{ link_url }}"
          data-item="{{ button_style }}"
          data-text="{{ link_text }}"
        >
          <span>{{ link_text }}</span>
        </a>
      </div>
    {%- endunless -%}
  </div>
</service-list-element>

{% schema %}
{
  "name": "Service list",
  "class": "section--service-list",
  "settings": [
    {
      "type": "header",
      "content": "Style and layout"
    },
    {
      "id": "border",
      "label": "Border",
      "type": "select",
      "options": [
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        },
        {
          "label": "Both",
          "value": "both"
        },
        {
          "label": "None",
          "value": "none"
        }
      ],
      "default": "none"
    },
    {
      "id": "spacing-above",
      "label": "Spacing above",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "large"
    },
    {
      "id": "spacing-below",
      "label": "Spacing below",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "large"
    },
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Light",
          "value": "light"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Accent 1",
          "value": "accent-1"
        },
        {
          "label": "Accent 2",
          "value": "accent-2"
        },
        {
          "label": "Accent 3",
          "value": "accent-3"
        }
      ],
      "default": "none"
    },
    {
      "id": "white-text",
      "label": "Use white text color",
      "type": "checkbox",
      "default": false
    },
    {
      "id": "section-alignment",
      "label": "Heading and call-to-action alignment",
      "type": "text_alignment",
      "default": "center"
    },
    {
      "id": "container-width",
      "label": "Maximum width of container",
      "type": "select",
      "options": [
        { "label": "Extra small", "value": "1" },
        { "label": "Small", "value": "2" },
        { "label": "Medium", "value": "3" },
        { "label": "Large", "value": "4" },
        { "label": "Extra large", "value": "5" }
      ],
      "default": "4"
    },
    {
      "type": "checkbox",
      "id": "show-description",
      "label": "Show descriptions",
      "default": false
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Service list"
    },
    {
      "type": "url",
      "id": "link-url",
      "label": "Link"
    },
    {
      "id": "button-style",
      "label": "Button style",
      "type": "select",
      "options": [
        {
          "label": "Style 1",
          "value": "button-1"
        },
        {
          "label": "Style 2",
          "value": "button-2"
        },
        {
          "label": "Style 3",
          "value": "button-3"
        },
        {
          "label": "Style 4",
          "value": "button-4"
        },
        {
          "label": "Link",
          "value": "block-link"
        }
      ],
      "default": "button-1"
    },
    {
      "type": "text",
      "id": "link-text",
      "label": "Optional link",
      "default": "Optional link"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "id": "mobile-spacing-above",
      "label": "Spacing above",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "medium"
    },
    {
      "id": "mobile-spacing-below",
      "label": "Spacing below",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "x-large"
        }
      ],
      "default": "medium"
    }
  ],
  "blocks": [
    {
      "type": "header",
      "name": "Header",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Header",
          "default": "Add header here"
        }
      ]
    },
    {
      "type": "item",
      "name": "List item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Add service title here"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price",
          "default": "$10"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Add service description here</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Service list",
      "settings": {
        "heading": "Service list",
        "show-description": true
      },
      "blocks": [
        {
          "type": "header"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "header"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["aside"]
  }
}
{% endschema %}